sqlalchemy
asyncpg
python-dotenv
uvicorn
fastapi
python-jose[cryptography]
passlib[argon2]
python-multipart
numpy
langchain
langchain_google_genai
pinecone
boto3
langchain_community
docx
pdfplumber
langchain_mistralai